<h1>Search</h1>
<form method="get" action="">
  <h2 style="color: red">{{ form.error }}</h2>
  {{ form.as_p }}
  <button type="submit" class="btn btn-success mt-3">Search</button>
</form>

<div class="results">
  Results
  <div id="results"></div>
</div>

<script>
    const url = '{% url 'search:flights_ajax' %}';

    const resultsRef = document.getElementById("results")
    const getData = async () => {
        const response = await fetch(url);
        const data = await response.text()
        resultsRef.innerHTML = data
    }
    const times = setTimeout(getData, 1000)
</script>
